<div class="navbar-groot">
  <div class="navbar-left">
    <%= link_to "Découvrir le projet", '#project', class: "navbar-item navbar-item-box"%>
    <%#= link_to "Voir la forêt Groot", foret_groot_path, class: "navbar-item navbar-item-box" %>
  </div>

  <div class="navbar-center">
    <%= link_to 'PLANTEZ VOTRE GROOT', new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#twitter_modal", method: 'get', :class => 'navbar-btn-plant' %>
  </div>

  <% if user_signed_in? %>
    <!-- NAVBAR RIGHT DESKTOP ON MOBILE WHEN USER SIGNED-IN :-->
    <div class="hidden-xs hidden-sm navbar-right">
      <div class="navbar-item ">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Télécharger le certificat", download_certificate_path %></li>
            <li><%= link_to "Voir la forêt Groot", foret_groot_path %></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- DROPDOWN LIST MOBILE WHEN USER SIGNED-IN : -->
    <div class="navbar-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Découvrir le projet", '#project'%></li>
          <li><a>Partager : <%= social_share_button_tag %></a></li>
          <li><%= link_to "Télécharger mon certificat", download_certificate_path %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>

  <% else %>
    <!-- NAVBAR RIGHT DESKTOP WHEN USER SIGNED-OUT :-->
    <div class="hidden-xs hidden-sm navbar-right">
      <div class="navbar-item-box">
      <p class="navbar-small-text">Partager :</p>
      <%#= link_to "", root_path, class: "navbar-item fa fa-facebook fb"%>
      <%= social_share_button_tag %>
      <%#= link_to "", root_path, class: "navbar-item fa fa-twitter tw"%>
      </div>
      <div class="class navbar-item navbar-item-box">
      <%= link_to "", user_twitter_omniauth_authorize_path, class: "navbar-item fa fa-user" %>
      </div>
    </div>
<!-- DROPDOWN LIST MOBILE WHEN USER SIGNED-OUT : -->
    <div class="navbar-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Découvrir le projet</a></li>
          <li><a>Partager : <%= social_share_button_tag %></a></li>
          <li><%= link_to "Mon Groot (login)", user_twitter_omniauth_authorize_path %></li>
          <li><%= link_to "Me connecter.............", user_twitter_omniauth_authorize_path %><i class="fa fa-user nimporte"></i></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
