<div class="navbar-groot">
<!-- USER SIGNED-IN -->
  <% if user_signed_in? %>
  <!-- DESKTOP - NAVBAR LEFT - USER SIGNED-IN :-->
    <div class="navbar-left hidden-xs hidden-sm hidden-md">
      <div class="navbar-item-left ">
        <div class="dropdown">
          <div class="class dropdown-toggle navbar-small-text cursor-nickname" id="navbar-groot-menu" data-toggle="dropdown"><%= current_user.nickname.nil? ? "Gardien" : current_user.nickname %></div>
          <ul class="dropdown-menu dropdown-menu-right navbar-groot-dropdown-menu">
            <li><%= link_to "Télécharger le certificat", download_certificate_path %></li>
            <!-- <li><%#= link_to "Voir la forêt Groot", foret_groot_path %></li> -->
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- MOBILE - LEFT DROPDOWN LIST - USER SIGNED-IN : -->
    <div class="navbar-left navbar-item-mobile hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu navbar-groot-dropdown-menu">
          <li><%= link_to "Découvrir le projet", '#project'%></li>
          <li><%= link_to "Télécharger mon certificat", download_certificate_path %></li>
          <li id="inside-dropdown"><a>Partager :<%= social_share_button_tag(meta_title, url: "http://grootapp.herokuapp.com/", 'data-twitter-title' => meta_title, image: meta_image, desc: meta_description, via: "MarvelFR") %></a></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>

  <!-- CENTER - USER SIGNED-IN     -->
  <div class="navbar-center">
    <p class="navbar-btn-planted">MERCI D'AVOIR PLANTE GROOT <%= current_user.tree_count %> !</p>
  </div>

  <!-- DESKTOP - NAVBAR RIGHT -USER SIGNED-IN-->
  <div class="navbar-right">
      <div class="navbar-item-box-right hidden-xs hidden-sm hidden-md">
        <p class="navbar-small-text ">Partager :</p>
        <%= social_share_button_tag(meta_title, url: "http://grootapp.herokuapp.com/", 'data-twitter-title' => meta_title, image: meta_image, desc: meta_description, via: "MarvelFR") %>
      </div>
  </div>
  <% else %>
<!-- USER SIGNED-OUT -->
  <!-- DESKTOP - NAVBAR LEFT - USER SIGNED-OUT -->
    <div class="navbar-left hidden-xs hidden-sm hidden-md">
      <div class="navbar-item-left">
        <%#= link_to "", user_twitter_omniauth_authorize_path, class: "navbar-item fa fa-user fa-lg" %>
      </div>
    </div>

  <!-- MOBILE - LEFT DROPDOWN LIST - USER SIGNED-OUT -->
    <div class="navbar-left navbar-item-mobile hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu navbar-groot-dropdown-menu">
          <li><%= link_to "Découvrir le projet", '#project' %></li>
          <li id="inside-dropdown"><a>Partager : <%= social_share_button_tag(meta_title, url: "http://grootapp.herokuapp.com/", 'data-twitter-title' => meta_title, image: meta_image, desc: meta_description, via: "MarvelFR") %></a></li>
          <!-- <li><%#= link_to "Mon Groot (login)", user_twitter_omniauth_authorize_path %></li> -->
          <!-- <li><%#= link_to "Me connecter", user_twitter_omniauth_authorize_path %><i class="fa fa-user nimporte"></i></li> -->
          <!-- <li><%#= link_to " Me connecter", user_twitter_omniauth_authorize_path, class:"fa fa-user" %></li> -->
        </ul>
      </div>
    </div>
  <!-- CENTER - USER SIGNED-OUT     -->
    <div class="navbar-center">
      <%= link_to 'PLANTEZ VOTRE GROOT', new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#twitter_modal", method: 'get', :class => 'navbar-btn-plant' %>
    </div>

  <!-- DESKTOP - NAVBAR RIGHT -USER SIGNED-OUT-->
  <div class="navbar-right">
      <div class="navbar-item-box-right hidden-xs hidden-sm hidden-md">
      </div>
  </div>
  <% end %>
</div>
