<!-- Mobile first donc Grid en 1 puis Description -->
<!-- Grid -->
<div class="fixed-container">

<div class="col-xs-13 col-md-13 col-lg-5 col-lg-push-4 grid-col-style">
  <div class="grid">
  <!-- We can load the frame faster if all cards are turned -->
    <% if @turned_counter == 2000 %>
      <div class="full-image">
        <%= image_tag "guardian.jpg" %>
      </div>
    <% else %>
      <% @cards.each do |card|%>
        <% if card.last_turned %>
          <div class="card grid-cache-last-turned" id="<%= card.id %>">
            <%= image_tag card.picture_link %>
          </div>
        <% elsif card.turned %>
          <div class="card" id="<%= card.id %>">
            <%= image_tag card.picture_link %>
          </div>
        <% else %>
          <div class="card grid-cache-bordered" id="<%= card.id %>">
            <%= image_tag @grid_colors.sample %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Description. S'inverse avec la grid à partid de MD et superieur -->
<div class="col-xs-13 col-md-13 col-lg-4 col-lg-pull-5 project-font project-style">
  <!-- The following div is used as anchor for the scroll on XS -->
  <div id="project"></div>

  <div class="inner">
    <h1 class="project-font-title">DEVENEZ LES GARDIENS DE NOTRE GALAXIE !</h1>
    <p class="project-emphasized-text">2 000 « GROOT » vont être plantés en cette Journée Internationale de la Terre, et nous vous donnons l’occasion de parrainer le vôtre.</p>
    <p class="project-font-text">Vous recevrez <span class="project-emphasized-text-inside">votre certificat de plantation unique et nominatif</span> ainsi qu’un fichier de géolocalisation de l’emplacement de votre Groot. Pour cela rien de plus simple, il suffit d’avoir un compte Twitter et de se connecter en cliquant sur le bouton <%= link_to 'Plantez votre groot', new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#twitter_modal", method: 'get', class:'groot-button-link'%>.</p>
    <p class="project-font-text">
    La totalité des arbres est financé par Marvel Studios dans le cadre de la sortie des Gardiens de la Galaxie Vol.2 au cinéma.</p>
    <p class="project-font-text"><span class="project-emphasized-text-inside">Les arbres sont plantés en Amazonie</span> péruvienne, selon le modèle de l'agroforesterie qui consiste à combiner agriculture et plantation d'arbres et qui présente de nombreux bénéfices : érosion, sécheresse et inondation évitées, retour de biodiversité, séquestration carbone dans les arbres et conservation de la forêt.</p>
    <p class="project-font-text"><span style="color:#e7e3ed">
    Le projet de l'Alto Huayabamba permet ainsi d'éviter la déforestation, fortement liée à l'agriculture intensive en Amazonie, en proposant un modèle plus pérenne et respectueux de l'écosystème.</span></p>
    <p class="project-emphasized-text">Participez à cette opération en plantant vous aussi un Groot, et devenez les Gardiens de notre Galaxie !</p>
  </div>
</div>

<!-- TIMELINE UNIQUEMENT VISIBLE SUR DESKTOP ET TABLETTE HORIZONTAL -->
<div class="col-lg-4 visible-lg no-padding-side">
  <div class="timeline-style">
  <div class="inner-timeline">
  <a class="twitter-timeline"
  href="https://twitter.com/search?q=%23GardiensdelaGalaxie2%20%23Journ%C3%A9edelaTerre"
  data-theme="light"
  data-height="650px"
  data-chrome="transparent, noheader, noborders, nofooter, noscrollbar"
  data-border-color="#00001f"
  data-widget-id="853369275536506881">Tweets sur #GardiensdelaGalaxie2 #JournéedelaTerre</a>
  </div>
  </div>
</div>

</div>

<!-- footer -->
<div class="footer">
  <div class="footer-left footer-logo"><%= image_tag("LogoPP.png", size: "65x15") %></div>
  <div class="footer-right">
    <div class= "footer-item"><%= link_to "Termes et Conditions", privacy_path %></div>
    <div class="footer-item">
    <%=mail_to "carole@purprojet.com", "Contact",
           subject: "A propos de Groot"%>
    </div>
    </div>
</div>


<!-- Modal connect with twitter -->
  <%= render "devise/registrations/new" %>

<!-- Congratulation card  -->
  <% if user_signed_in? && current_user.congratulation %>
    <%= render "pages/congratulation" %>
  <% end %>


<!-- TOP TWEETS ONLY -->
<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

<!-- TOUS LES TWEETS -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



