  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <h1>Description</h1>
    </div>

    <div class="col-xs-12 col-lg-8">
      <div class="grid">
        <% @cards.each do |card|%>
          <% if card.turned %>
            <div class="card" id="<%= card.id %>" style="background-image: url('<%= image_path(card.picture) %>')"></div>
          <% else %>
            <div class="card" id="<%= card.id %>" style="background-color: <%= card.color %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-lg-2">
      <h1>Widget</h1>
        <a class="twitter-timeline"  href="https://twitter.com/hashtag/jesappellegroot" data-widget-id="842011447748132865">Tweets sur #jesappellegroot</a>
    </div>
  </div>

  <!-- Modal connect with twitter -->
  <%= render "devise/registrations/new" %>

  <!-- Congratulation card  -->
  <% if user_signed_in? && current_user.card.last_turned %>
    <%= render "pages/congratulation" %>
  <% end %>


 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
