<!-- Mobile first donc Grid en 1 puis Description -->
<!-- Grid -->
<div class="fixed-container">

<div class="col-xs-13 col-md-5 col-md-push-4 grid-col-style">
  <div class="grid">
  <!-- We can load the frame faster if all cards are turned -->
    <% if @turned_counter == 2000 %>
      <div class="full-image">
        <%= image_tag "guardian.jpg" %>
      </div>
    <% else %>
      <% @cards.each do |card|%>
        <% if card.turned %>
          <div class="card" id="<%= card.id %>">
            <%= image_tag card.picture_link %>
          </div>
        <% else %>
          <div class="card grid-cache-bordered" id="<%= card.id %>">
            <%= image_tag @grid_colors.sample %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Description. S'inverse avec la grid à partid de MD et superieur -->
<div class="col-xs-13 col-md-4 col-md-pull-5 project-font project-style">

  <!-- The following div is used as anchor for the scroll on XS -->
  <div id="project"></div>

  <div class="inner">
    <h1>Devenez les Gardiens de notre Galaxie !</h1>
    <p>
    2 000 « GROOT » vont être plantés en cette Journée Internationale de la Terre, et nous vous donnons l’occasion de parrainer le vôtre. Vous recevrez votre certificat de plantation unique et nominatif ainsi qu’un fichier de géolocalisation de l’emplacement de votre Groot.  Pour cela rien de plus simple, il suffit d’avoir un compte Twitter et de se connecter en suivant ce lien : URL (qui amène vers l’espace PLANTEZ VOTRE GROOT)
    <br>
    <br>
    La totalité des arbres est financé par Marvel Studios dans le cadre de la sortie des Gardiens de la Galaxie Vol.2 au cinéma. Les arbres sont plantés en Amazonie péruvienne, selon le modèle de l'agroforesterie qui consiste à combiner agriculture et plantation d'arbres et qui présente de nombreux bénéfices : érosion, sécheresse et inondation évitées, retour de biodiversité, séquestration carbone dans les arbres et conservation de la forêt.
    <br>
    <br>
    Le projet de l'Alto Huayabamba permet ainsi d'éviter la déforestation, fortement liée à l'agriculture intensive en Amazonie, en proposant un modèle plus pérenne et respectueux de l'écosystème.
    <br>
    <br>
    Participez à cette opération en plantant vous aussi un Groot, et devenez les Gardiens de notre Galaxie !
    </p>
  </div>
</div>

<!-- TIMELINE UNIQUEMENT VISIBLE SUR DESKTOP ET TABLETTE HORIZONTAL -->
<div class="col-md-4 visible-lg visible-md timeline-style">
  <h1 class="project-font">Devenez les Gardiens de notre Galaxie !</h1>
  <div class="inner-timeline">
    <a class="twitter-timeline"
    href="https://twitter.com/hashtag/jesappellegroot"
    data-theme="light"
    data-height="600px"
    data-chrome="transparent, noborders, nofooter, noscrollbar"
    data-border-color="#00001f"
    data-widget-id="842011447748132865">Tweets sur #jesappellegroot</a>
  </div>
</div>

</div>
<!-- Modal connect with twitter -->
  <%= render "devise/registrations/new" %>

<!-- Congratulation card  -->
  <% if user_signed_in? && current_user.congratulation %>
    <%= render "pages/congratulation" %>
  <% end %>


 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>


