  <div class="row">
    <div class="col-xs-12 col-lg-2">
      <h1>Description</h1>
    </div>

    <div class="col-xs-12 col-lg-8">
      <div class="grid">
        <% @cards.each do |card|%>
          <% if card.turned %>
            <div class="card" id="<%= card.id %>" style="background-image: url('<%= image_path(card.picture) %>')"></div>
          <% else %>
            <div class="card" id="<%= card.id %>" style="background-color: <%= card.color %>"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-lg-2">
      <h1>Widget</h1>
    </div>
  </div>

  <!-- Modal connect with twitter -->
  <%= render "devise/registrations/new" %>

  <!-- Congratulation card  -->
  <% if user_signed_in? %>
    <%= render "pages/congratulation" %>
  <% end %>
  

